body {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Raleway';
  background-color: #343844;
  color: #2AB69D;
}

a {
  text-decoration: none;
  color: #2AB69D;
  font-style: italic;
}

a:hover, a:visited {
  color: #FDC536;
}

.intro {
}

.clock-container {
  display: flex;
  justify-content: center;
}

.clock {
  font-family: 'Megrim';
  font-size: 8rem;
  color: #E65848;
}

.meridiemDiv {
  font-size: 4rem;
  align-self: flex-end;
}

.form-group {
  display: flex;
  justify-content: center;
}

input {
  border: none;
  background: none;
  margin: 5px;
  padding: 15px;
  font-size: 2rem;
  color: #E65848;
}

#button {
  width: 10em;
  margin: 0 auto;
}
